<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <title>First Vue.js</title>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
    </div>
<script src="./initialize.js"></script>
</body>
</html>